{% extends 'base.html' %}

{% block hero %}
<form method="POST" enctype="multipart/form-data" id="uploadForm" class="styled-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h1 class="form-title">Upload your school map!</h1>
    
    <label for="school_name" class="form-label">School Name:</label>
    <input type="text" name="school_name" id="school_name" class="form-input" placeholder="Type your school name...">
    
    <ul id="suggestions" class="suggestions-list" style="list-style: none; padding: 0; display: none;"></ul>
    
    <input type="file" name="file" class="form-input">
    <input class="btn load-show" type="submit" value="Upload">
</form>

<script src="{{ url_for('static', filename='js/dropdown.js') }}"></script>
{% endblock %}